.col2{
     background: pink;
     width: 50%;
     margin:1% 0;
     float: left;
     padding: 1%;
     box-sizing: border-box;
}

.col3{
     background: pink;
     width: 33.3%;
     margin: 1% 0;
     float: left;
     padding: 1%;
     box-sizing: border-box;
}

.col4{
     background: pink;
     width: 20%;
     margin: 1% 0;
     float: left;
     padding: 1%;
     box-sizing: border-box;
}