.col2{
     background: pink;
     width: 50%;
     margin:1% 0;
     float: left;
     padding: 1%;
     box-sizing: border-box;
}

.col3{
     background: pink;
     width: 33.3%;
     margin: 1% 0;
     float: left;
     padding: 1%;
     box-sizing: border-box;
}

.col4{
     background: pink;
     width: 20%;
     margin: 1% 0;
     float: left;
     padding: 1%;
     box-sizing: border-box;
}

nav ul{
     margin: auto; 
     width: 450px;
     background: cyan;
     padding: 0;
}

nav ul li{
     text-align: center;
     width: 33.33%;
     background: lightpink;
     list-style: none;
     padding: 10px 0;
     float: left;
}
     nav ul li:hover{
          background: #E44DFE;
     }

nav ul li a{
     text-decoration: none;
     color: darkblue;
}

/*Reglas para responsive web desing*/

@media screen and (min-width: 768px){
     .container, nav ul, .col2, .col3, .col4{
          width: 100%;
     }
}
